# Visual Studio & build artifacts
.vs/
[Bb]in/
[Oo]bj/
*.suo
*.user
*.rsuser
*.log
*.pdb
*.tmp
*.dbmdl
*.cache

# Python cache & env
__pycache__/
*.pyc
.venv/
.venv*/

# YOLO training outputs
runs/

yolov8n.pt         # ignore auto-downloaded YOLO weights (we include only src/models/best.pt)
yolov8s.pt

# Ignore all datasets
dataset/
dataset.yaml

# Outputs - keep only the required submissions
outputs/*.json
!outputs/submission_detection_1.json
!outputs/submission_decoding_2.json

# Allow demo images (for testing pipeline quickly)
!data/demo_images/**



.gitattributes